*.excalidraw
*.excalidraw.*

*.venv/

*.training_images/*.jpg
*frames/*
/programacion/02_opencv/.training_images
/programacion/02_opencv/frames
/programacion/CNN/.all_images
/programacion/04_scrappcloud/facebook-post-scraper

*modelo_fusionado/